<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/flat/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/flat/css/flat-ui.css" type="text/css" />
  </head>
  <body>
    <div class="header">
      <p class="todo-count">You have {{ active_tasks.count }} things to do</p>
    </div>
    <div class="content">
      <div class="task-list">
        {% for task in active_tasks %}
        <div class="task-box tile" style="clear:both">
          <div class="task-info">
            <p class="task-date">{{ task.days_old }} days old</p>
          </div>
          <div class="task-summary text-left"><p>{{ task.summary }}</p></div>
          <div class="task-done">
            <!-- complete this task -->
            <form class="inline" id="complete_{{ task.id }}" action="/complete-task/" method="POST">
              {% csrf_token %}
              <input type="hidden" name="task_id" value="{{ task.id }}">
              <a href="javascript:{}" onclick="document.getElementById('complete_{{ task.id}}').submit(); return false;" style="text-decoration:none"><span class="fui-checkmark-24"></span></a>
            </form>
            <!-- comment -->
              <a href="#" style="text-decoration:none"><span class="fui-bubble-24"></span></a>
            <!-- delete this task -->
            <form class="inline" id="delete_{{ task.id }}" action="/delete-task/" method="POST">
              {% csrf_token %}
              <input type="hidden" name="task_id" value="{{ task.id }}">
              <a href="javascript:{}" onclick="document.getElementById('delete_{{ task.id }}').submit(); return false;" style="text-decoration:none"><span class="fui-cross-24"></span></a>
            </form>
          </div>
          <br class="clear" />
        </div> <!-- end task-box -->

        {% endfor %}
      </div> <!-- end task-list -->

      <div class="task-review">
        <h2 class="no-top-padding">Add Task</h2>
        <form action="/add-task/" method="post">{% csrf_token %}
          <input type="text" name="summary" class="span3 add-task-text">
        </form>
        <h2 class="no-top-padding">Complete Tasks</h2>
        <div class="task-list">
          {% for day in complete_tasks %}
            <h3>{{ day.0.pretty_date }}</h3>
            {% for t in day %}
              <li>{{ t.summary }}</li>
            {% endfor %} 
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
