

.header {
  width: 960px;
  background: #34495E;
  margin: 5px;
  padding: 10px 0px 1px 10px;
  opacity: 0.8;
}

.content {
  width: 1100px;
  float: left;
  padding-left: 5px;
}


.tasks {
 padding: 3px;
}

.task-box {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  height: 20px;
  width: 450px;
  background: #EEE;
}

.task-date {
  font-size: 12px;
  margin: 0;
  padding: 0;
  float: left;
}

.task-summary p,form {
  display: inline;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 14px;
}

.task-info {
  float: left;
  height: 100%;
}

.task-summary {
  width: 310px;
  float: left;
  padding-left: 5px;
}

.done-link {
  text-decoration: none;
  color: #0000AA;
}

.todo-count {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.task-review {
  width: 600px;
  float: left;
}

.task-list {
  width: 490px;
  float: left;
  margin: 1px;
}

.task-done {
  width: 50px;
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

.add-task-text {
  width: 500px;
}

.no-top-padding {
  padding-top: 0px;
  margin-top: 0px;
}

.text-left {
  text-align: left;
}

.clear {
  clear: both;
}
